
/* styles for body element */
body {
  background-color: #ffffff;
}

/* styles for fluid image */
img {
  max-width: 100%;
}

/* styles for teh container id */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* styles for the header section */
header {
  text-align: left;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  background-color: #2a2a2a;

}

/* styles for the nav element */
nav {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  margin-top: -1.5em;
}
nav {
  float: right;
  margin-right: 3em;
  margin-bottom: 0;
  width: 65%;
  margin-top: -4.5em;
}

/* add styles for the unordered list in teh nav */
nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* add style for the list items in the nav */
nav li {
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
}

nav li {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 20%;
}
nav li {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 0;
  padding-right: 0;
  width: 18%;
  white-space: nowrap;
  border-radius: 0;
}

/* add styles fro teh anchor tag inside the li */
nav li a {
  color: #ffffff;
  text-decoration: none;
}


/* styles for the main div */
main {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 2em 0 2em 0;
  background-color: #ffffff;
  opacity: 0.85;
}
/* footer styles */
footer {
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em;
  color: #ffffff;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}

footer {
  background-color: #2a2a2a;
  margin-top: -0.2em;
  padding: 2em;
  overflow: auto;
  clear: both;
}


/* styles for the copyright div */
#copyright {
  float: left;
  margin-top: 2em;
  width: 80%;
}

/* styles for the social div */
#social {
  float: right;
  width: 20%;
}
main aside {
  float: left;
  margin: 0 1.5%;
  width: 30%;
}
main section {
  float: right;
  margin: 0 1.5%;
  width: 60%;
}
main article {
  float: left;
  margin: 0 1.5%;
  width: 40%;
  height: 50%;
}
main section img {
  float: left;
  margin: 0 1.5%;
  width: 50%;
  height: 70%;
}
.items li {
  list-style-type: none;
}
.items li img {
  float: none;
  width: 10%;
  height: 10%;
}

/* styles for the table */
table {
  border: 0.1em solid #000000;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* styles for the th and td */
th,
td {
  border: 0.1em solid #000000;
  padding: 1em;
}

/* styles for the th */
th {
  background-color: #1d1d1c;
  color: #ffffff;
}


